@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<MatAutocompleteList Items="@options" Icon="thumb_up_alt" TItem="string" Label="Pick one"></MatAutocompleteList>

<h3>Button with secondary style</h3>
<RadzenButton Click="@((args) => Click(args, "Secondary button"))" Text="Button" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 20px; width: 150px" />
<MatTextField @bind-Value="@strNewValue" Label="Standard"></MatTextField>
<br />